/* Tema claro */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin-top: 1em;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 10px;
    cursor: pointer;
}

/* Tema escuro */
.dark-theme {
    background-color: #333;
    color: #f0f0f0;
}

.theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
}

.notes button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
}

.tuner-visualizer {
    position: relative;
    width: 300px;
    height: 10px;
    background-color: #ddd;
    margin: 20px auto;
}

#indicator {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: red;
    left: 50%;
    transform: translateX(-50%);
    transition: left 0.1s ease;
}

